.log
node_modules
*secret
*secret.txt
*.vscode
*.ipynb_checkpoints
*.idea
*cache*
*.ropeproject
*__pycache__*
*.DS_Store
models/ezgal_models/index.html
*.csv
*.html
population_models
*easyGalaxy/*
!find_agn/tests/test_examples
!find_agn/tests/test_figures
*__pycache__*
*.pyc
temp/*
template_database/*
*egg*